@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  /* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
  font-family: "Fontin-SmallCaps";
  src: local("../public/fonts/Fontin-SmallCaps.ttf"),
    url("../public/fonts/Fontin-SmallCaps.ttf");
}

body {
  background-color: #1c1c1c;
  font-family: "Fontin-SmallCaps";
}
